In [1]:
## Label Encoding
 ## converting the labels into numeric form

In [14]:
#Importing the dependencies
import pandas as pd
from sklearn.preprocessing import LabelEncoder

### Label encoding sonarData dataset
## load dataset

In [15]:
dataset = pd.read_csv('d:/ml/iris.csv')

In [17]:
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
## finding the count of different labels
dataset['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [20]:
## Load the label encoder function
label_encoder = LabelEncoder()

In [21]:
labels = label_encoder.fit_transform(dataset.species)

In [22]:
## appending the labels to dataframe
dataset['target'] = labels

In [25]:
dataset

     sepal_length  sepal_width  petal_length  petal_width    species  target
0             5.1          3.5           1.4          0.2     setosa       0
1             4.9          3.0           1.4          0.2     setosa       0
2             4.7          3.2           1.3          0.2     setosa       0
3             4.6          3.1           1.5          0.2     setosa       0
4             5.0          3.6           1.4          0.2     setosa       0
..            ...          ...           ...          ...        ...     ...
145           6.7          3.0           5.2          2.3  virginica       2
146           6.3          2.5           5.0          1.9  virginica       2
147           6.5          3.0           5.2          2.0  virginica       2
148           6.2          3.4           5.4          2.3  virginica       2
149           5.9          3.0           5.1          1.8  virginica       2

[150 rows x 6 columns]

0---->  setosa       
1---->  versicolor    
2---->  virginica     
  Labels order in Ascending orgder of target

In [26]:
dataset['target'].value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64